[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/pack/mjqzhang/start/nerdtree"]
	path = vim/pack/mjqzhang/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/mjqzhang/start/vim-git"]
	path = vim/pack/mjqzhang/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/pack/mjqzhang/start/lightline.vim"]
	path = vim/pack/mjqzhang/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/mjqzhang/start/vim-tmux"]
	path = vim/pack/mjqzhang/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "vim/pack/mjqzhang/start/vim-tmux-navigator"]
	path = vim/pack/mjqzhang/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/mjqzhang/start/ctrlp.vim"]
	path = vim/pack/mjqzhang/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/mjqzhang/start/vim-buffergator"]
	path = vim/pack/mjqzhang/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/pack/mjqzhang/start/vim-colors-solarized"]
	path = vim/pack/mjqzhang/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/mjqzhang/start/vim-fugitive"]
	path = vim/pack/mjqzhang/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "shell/plugins/gnome-terminal-colors-solarized"]
	path = shell/plugins/gnome-terminal-colors-solarized
	url = https://github.com/aruhier/gnome-terminal-colors-solarized.git
[submodule "vim/pack/mjqzhang/start/vim-surround"]
	path = vim/pack/mjqzhang/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/mjqzhang/start/ale"]
	path = vim/pack/mjqzhang/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/mjqzhang/start/YouCompleteMe"]
	path = vim/pack/mjqzhang/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/pack/mjqzhang/start/vim-argwrap"]
	path = vim/pack/mjqzhang/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule "vim/pack/mjqzhang/start/--force"]
	path = vim/pack/mjqzhang/start/--force
	url = https://github.com/ycm-core/YouCompleteMe.git
